@import '../../styles/variables.scss';

.button{
  width: 5rem;
  height: 2rem;
  padding: 2px;

  font-family: $primary-font;
  background-color: $secondary-color;
  color: white;

  border-radius: 4px;
  box-shadow: none;

  &:hover{
    opacity: 0.9;
    color: $primary-color;
    cursor: pointer;
  }
}
