@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// colours
$primary-color: #EFB843;
$secondary-color: #162506; // #162506; 
// light green/yellow #959039
// steel teal #2B3A38
// muddy green #333A11
$light-hover: #EFB843;

// fonts
$primary-font: 'Space Grotesk', sans-serif;
$secondary-font: 'Space Mono', sans-serif;