@import '../../styles/variables.scss';

.form-page{
  display:grid;

  &-inputs{
    display: flex;
    justify-content: center;
  }

  .react-datepicker-popper{
    z-index: 1000;  // set it above the map
  }

  &-aoi{
    display:flex;
    // width: 70vw;
    justify-content: space-between;

    &-textarea{
      display: flex;
      justify-self: start;
      margin-left: 2.5vw;
      margin-top: 1.5vh;
      width: 47.5vw;
      height: 8vh;
      border-radius:10px;
      color:white;
      background-color: $secondary-color;
      padding: 8px;
    }

    &-buttons-container{
      display: flex;
      margin-top: 1.5vh;
      margin-right: 2.5vw;

      Button{
        margin-right: 4px;
      }
    }
  }

  
  
}